body {
  background-color: bisque;
}

header {
  padding: 10px;
}

.welcome {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
  border: 1px solid;
  font-size: larger;
}

nav ul {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  list-style: none;
}

nav li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  width: auto;
  display: block;
  font-size: 18px;
  letter-spacing: 0.5px;
}

#about {
  
}

img {
  width: 200px;
  padding-left: 200px;
}

main {
  display: flex;
}

.box {
  border: 1px solid black;
}